.clearfix { 
	clear:both;
}

.row_container { 
	height:260px;
	overflow:hidden;
	
}

.listing_row { 
	border-bottom:1px solid black;
}

.mentions {
	width:250px;
	
}

.row_height{
	position:relative;
}

.toggle { 
	padding-top:10px;
	text-align:center;
}
.toggle i{
	cursor:pointer;
}	

.exchange_body { 
    display:none;
}

.module { 
    
}

h2 { 
    height:100px;
}

#user_search { 
    height:20px;
    margin-top:4px;
    margin-bottom:0px;
    width:300px;
    float:right;
}

#user_search .btn {
    margin-top:-9px;
}     

.headings { 
	border-bottom:2px solid black;
}

.nav { 
	margin-top:3px;
}

#page_title { 
	font-size:14px!important;
	margin-top:2px;
	margin-left:20px;
}

/* SINGLE PAGE */

.single .row_container { 
	height:inherit;
}
 

.twitter_link { 
	color:black!important;
	text-decoration:underline;
}

.highlight { 
	color:#68d59e;	
}

.active a{ 
	text-decoration:underline!important;
}