
body { 
    background-image:url(../img/cream_pixels.png);
    padding-top: 0px;
    font-family: Avenir,​'Helvetica Neue',​Helvetica,​Arial,​sans-serif;
}

p, li { 
   
}

a { 
    cursor:pointer!important;
    color:#286D9F;
}

li {
    margin-left:0px;
    padding-left:0px;
}


/* HEADER */

.header-background-container { 
    padding-top:10px;
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    background-color:white;
}

.navbar-inner { 
    background-image:none;
    background-color:transparent;
    border:none;
    box-shadow:none;
    padding-left:0px;
}

.navbar .brand{
    font-size: 2.5em;
    color:#415665;
}    

.twitter_image { 
    float: left;
    margin-bottom: 40px;
    margin-right: 16px;
    margin-top: 6px;
    width:70px;
}

.tweet_listing { 
    clear:both;
    margin-bottom:10px;
    margin-right:10px;
    padding: 0px 20px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus  {
    background-color:transparent;
    background-image:none;
    box-shadow:none;
}

#gather_date { 
    color: white;
    margin-top: 8px;
    text-align: right;
}

#rts, #thinktank { 
    margin-top:10px;
}

.vertical_tabs {
    margin-left: 14px;
    margin-top: 37px;
}

#content_target { 
    background-color: white;
    border: 3px solid #fff;
    margin-top: 10px;
    padding-bottom:40px;
}

#content_target h3,#content_target h4 { 
    margin-left:20px;
}


#content_target .span12 h3 { 
    margin-left:10px;
}

#inspector { 
    background-color:#A6C1D6;
}

.inspector_title { 
    margin-left:10px;
}

.content_filters { 
    margin-left:10px;
}

#hashtag_listing { 
    margin-left:20px;
    margin-top:20px;
}

#tweets h3 { 
    margin-top:-20px;
}

#inspector .span3 h3 { 
    margin-top:30px;
}

#loading_balls { 
    margin-left:20px;
    margin-top:40px;
}



#followers-donut, #followees-donut { 
    width:100%;
    height:100%;
}

#rts, #thinktank li{
    margin-left:15px;
}

ul {
    list-style-type:none;
    margin-left:0px;
    padding-left:0px;
}


h2 { 
    height:100px;
}

#user_search { 
    height:20px;
    margin-top:4px;
    margin-bottom:0px;
    width:300px;
    float:right;
}

#user_search .btn {
    margin-top:-9px;
}     

.headings { 
	border-bottom:2px solid black;
}

.nav { 
	margin-top:3px;
}

#page_title { 
	font-size:14px!important;
	margin-top:2px;
	margin-left:20px;
}

/* Search */
#search  { 
    text-align:right;
    margin-top:10px;
}

#search_type { 
    width:130px;
}

#search_submit { 
    height:30px;
    margin-top:-10px;
}

/* SINGLE PAGE */
.single .row_container { 
	height:inherit;
}
 

.twitter_link { 
	color:black!important;
	text-decoration:underline;
}

.highlight { 
	color:#68d59e;	
}

.active a{ 
	text-decoration:underline!important;
}

/* table sort */ 
/* tables */
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	
	text-align: left;
	border:3px solid #fff;
}
table.tablesorter thead, table.tablesorter tfoot tr th {
	background-color: #A6C1D6;
	font-size: 8pt;
	padding: 4px;
	
}

thead th { 
    text-decoration:underline;    
    font-weight:bold;
}

#column_name, #column_thinktank,  { 
    
    width:160px;
}

table.tablesorter thead tr .header {
	
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 14px;
	background-color: #FFF;
	vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    text-decoration:underline;
}

table.tablesorter th, table.tablesorter td { 
   
    text-align:center;
    min-width:50px;
} 

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}



.tt_image { 
    height:48px;
    width:48px;
    margin-right:4px;
}

.weekdate { 
    float:right;
    margin-top:10px;
}

.person_link img { 
    width:48px;
    height:48px;
}

