
body { 
    background-image:url(../img/cream_pixels.png);
    padding-top: 20px;
}

p, li { 
   
}

a { 
    cursor:pointer!important;
}

li {
    margin-left:0px;
    padding-left:0px;
}


.navbar-inverse .brand {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: bold;
}    

.twitter_image { 
    float: left;
    margin-bottom: 40px;
    margin-right: 16px;
    margin-top: 6px;
    width:70px;
}

.tweet_listing { 
    clear:both;
    margin-bottom:10px;
    margin-right:10px;
    padding: 0px 20px;
}


#gather_date { 
    color: white;
    margin-top: 8px;
    text-align: right;
}

#rts, #thinktank { 
    margin-top:10px;
}

.vertical_tabs {
    margin-left: 14px;
    margin-top: 37px;
}

#content_target { 
    background-color: white;
    border: 1px solid #DDDDDD;
    margin-top: 10px;
    padding-bottom:40px;
}

#content_target h3,#content_target h4 { 
    margin-left:20px;
}


#content_target .span12 h3 { 
    margin-left:10px;
}


.inspector_title { 
    margin-left:10px;
}

.content_filters { 
    margin-left:10px;
}

#hashtag_listing { 
    margin-left:20px;
    margin-top:20px;
}

#tweets h3 { 
    margin-top:-20px;
}

#inspector .span3 h3 { 
    margin-top:30px;
}

#loading_balls { 
    margin-left:20px;
    margin-top:40px;
}



#followers-donut, #followees-donut { 
    width:100%;
    height:100%;
}

#rts, #thinktank li{
    margin-left:15px;
}

ul {
    list-style-type:none;
    margin-left:0px;
    padding-left:0px;
}


h2 { 
    height:100px;
}

#user_search { 
    height:20px;
    margin-top:4px;
    margin-bottom:0px;
    width:300px;
    float:right;
}

#user_search .btn {
    margin-top:-9px;
}     

.headings { 
	border-bottom:2px solid black;
}

.nav { 
	margin-top:3px;
}

#page_title { 
	font-size:14px!important;
	margin-top:2px;
	margin-left:20px;
}

/* Search */
#search  { 
    text-align:right;
    margin-top:10px;
}

#search_type { 
    width:130px;
}

#search_submit { 
    height:30px;
    margin-top:-10px;
}

/* SINGLE PAGE */
.single .row_container { 
	height:inherit;
}
 

.twitter_link { 
	color:black!important;
	text-decoration:underline;
}

.highlight { 
	color:#68d59e;	
}

.active a{ 
	text-decoration:underline!important;
}

/* table sort */ 
/* tables */
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	border:1px solid #DDDDDD;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #48d7a4;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(/img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    text-decoration:underline;
}

table.tablesorter th, table.tablesorter td { 
    min-width:100px;
    text-align:center;
} 

table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}


#column_name { 
    width:200px;
} 

#column_thinktank_followers { 
    width:220px;
}

.tt_image { 
    height:48px;
    width:48px;
    margin-right:4px;
}

.weekdate { 
    float:right;
    margin-top:10px;
}

.person_link img { 
    width:48px;
    height:48px;
}

