/*********************************************************************
	
	CSS document for www.education-action.org
	Author: Nick Carpenter - Cobent Ltd
	
	The following styles are optimised for display on the following
	web browsers:
	
	* Internet Explorer v.6
	* Firefox 1.0.6
	* Mozilla 1.7.12
	
	~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
	
	The following CSS hacks are used:
	
	For IE Win/Mac: 	
	~	Star HTML hack
	
	For IE5 and IE6 Differences: (?) test please!
	~ Backslash Hack
	
	For Firefox & Mozilla:	
	~ 	Child Hack
	
	Mac optimisation work to follow
	
	*****************************************************
	*	TABLE OF CONTENTS:								*
	*****************************************************
	*	1. Core HTML tags								*
	*	2. Custom Text Styles							*
	*	3. Breadcrumb Formatting						*	
	*	4. Layout Positioning							*
	*	5. Footer Formatting							*		
	*	6. Nav Bar Formatting							*
	*	7. Side Panel Formatting						* 			
	*	8. News Items									*
	*	9. Image Gallery								*
	*****************************************************
	

**********************************************************************/

/************************************
	1. Core HTML tags
*************************************/

	/*All*/
	table , select, input {font-size: 100%;}
	html{height:100%;}
	body {margin:0px;font-family:Verdana,Arial, Helvetica, sans-serif;color: #000;height:100%;font-size: 0.75em;}	
	form {margin: 0px;}
	a {color: #003366;text-decoration:none;}	
	/*a {color: #CB3301;text-decoration:none;}	*/
	a:hover {text-decoration: underline;color:#CB3301; }
	h1,h2 {
	font-weight:bold;
	font-size: 1.0em;
	margin-bottom:15px;
	line-height:2.2em;
	height:2.2em;
	margin-top:0px;
	margin-bottom:5px;
	padding-left:5px;
	/*background-color:#852940;*/
	color: #333;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc; 
	}
	
	h2 {margin-bottom:5px;}
	h3 {font-size:1.2em;color:#000;}
	h4 {font-size:1.1em;color:#000;}
	h5 {font-size:1.0em;color:#CB3301;}
	h6 {font-size:0.8em;color:#CB3301;}
	textarea {font-family:Verdana;font-size: 11px;}
	td {vertical-align:top; padding-top:0px}

	/*Firefox & Mozilla */

	html>body h1 {height:2.2em; line-height:2.2em; margin-bottom:5px;}

hr {height:1px; color:#CCCCCC}

/************************************
	2. Custom Text Formatting	
*************************************/	
	
	/*
	.pageHeading {font-family: Verdana; font-size: 1.1em; font-weight: bold; color:#000000;}
	.pageFnTxt {font-size: 10px; color: #999999; text-decoration: none;}
	.smallText { font-size: 0.8em;}	
	*/


/************************************
	3. Breadcrumb Formatting
*************************************/	
	
	/*Text Formatting*/
	.bCrumbLink {color: #000;}
	#bCrumbLinkOn{color:#999; text-decoration:underline;}	
	.bCrumbRow a {text-decoration:none;}
	.bCrumbRow a:hover {text-decoration:none;}
	.BCrumbText {color: #000;}	
	
	/*Breadcrumb Row Formatting*/
	.bCrumbRow {color:#999999;font-size:0.9em;background-color:#fff;width:500px;height:35px;line-height:35px;vertical-align:baseline;}
	bCrumbPosition {display:block;margin-bottom:5px;}
	
	/*Firefox & Mozilla */

	
/************************************
	4. Layout Positioning
*************************************/		
	
	
	#pageouter{width:780px;margin-left:auto;margin-right:auto;margin-top:0px;}	
	
	#mainContent {width:377px;min-height:200px;	padding-top:2px; margin: 0px 5px 10px 5px;padding:0 5px 0 5px;line-height:2em;}
	* html #mainContent {width:370px;height:350px;float:left;}	
	
	#mainContent_alt {margin-bottom:10px;padding-right:5px;line-height:2em;}
	* html #mainContent_alt {width:575px;height:340px;float:left;}
	
	/*Firefox & Mozilla  */
	html>body #outer{min-height:400px}	
	html>body #mainContent_alt { width:575px;float:left; margin-top:2px;}
	html>body #mainContent_alt h1 { line-height:2.2em; height:2.2em;}
	html>body #mainContent {width:370px;min-height:380px;float:left;padding-top:2px;margin-bottom:10px;margin-left:3px;padding-right:5px;padding-left:3px;}


	#left {float:left;margin-bottom:10px; width:195px;}
	#left h1,h2,h3,h4,h5,h6 {margin-left:0px;}
	* html #left {float:left;width:195px;min-height:300px;margin-bottom:10px;}	
	
	#right {float:right;width:195px;}	
	* html	#right {}	
		
	/*Firefox & Mozilla  */
	html>body #left {padding-right:4px; margin-top:2px;}
	html>body #right {padding-top: 2px; }
	
	.limitWidth {width:380px;line-height:2em}	
	.welcome {float:left;}
	#flashHeaderRow {height:86px; padding-bottom:5px;margin-top:10px}
	
	#subHeaderRow {height:63px; padding-top:5px;}
	

/************************************
	4.2 Footer Positioning
*************************************/	
	#FooterRow { border-top: 1px solid #EEEEEE;height:20px;line-height:20px;}
	#FooterRow a {text-decoration: underline;}
	#FooterRow a:hover {text-decoration: underline;color:#333333;}
	
	#builtByOXNM {width:150px;float:right; text-align:right;}
	#copyrightNotice {font-size: 10px;text-align:left;padding-left:10px;color: #999999; float:left}
	
	#FooterMenu {font-size: 10px;color: #333333;text-decoration: none;text-align:center;}
	#FooterMenu a {font-size: 10px;color: #999999;text-decoration: none;}
	#FooterMenu a:hover {font-size: 10px;color: #999999;text-decoration: underline;}
	
	/*Firefox & Mozilla */
	html>body #FooterMenu {font-size: 10px;color: #333333;text-decoration: none;text-align: center;}
	html>body #FooterMenu a {font-size: 10px;color: #999999;text-decoration: none;}
	html>body #FooterMenu a:hover {font-size: 10px;color: #999999;text-decoration: underline;}
	
	.footerStatements {float:right;margin-right:5px}	
	.editOverlay {border:1px dotted #ff3300;position:absolute;z-index:1000;cursor:auto;margin-top:-1px;margin-left:-1px;}
	
	/* Caption Control*/
	
	.caption33 {display:block;margin:10px 10px 10px 0px;width:180px;float:left;}	
	.caption50 {margin:10px 10px 10px 0px;width:250px;float:left;vertical-align:middle;padding:10px;}	
	html>body .caption50 {width:280px;}	
	.caption100 {margin:10px 10px 10px 0px;width:500px;}	

/************************************
	 6. Nav Bar Formatting
*************************************/

	/*All
	
	/*Firefox & Mozilla  */
	html>body .searchGo {padding-bottom:1px;padding-right:2px;margin-top:-9px; margin-right:-2px;}
	
	/* Internet Explorer */

	#nav {height:23px; line-height:23px; font-size: 1em; background:#ccc}
	html>body #nav {margin-top:74px;}
	/*#nav {height:23px; line-height:23px; background-image:url(nav_bg.gif);font-size: 1em;}*/

	/*#openedlink {color:#fff;background-color:#852940;text-align:center;padding:0 7px 0 7px;}
	#nav div {float:left; height:100%; padding:0 7px 0 0; }
	#nav a {color:#000;}
	#nav a:hover {text-decoration:underline;height:23px }
	*/
	.searchInput {border:1px solid #999;padding:0px;margin:1px;height:18px;width:128px;font-size:11pt;}
	#search {width:220px;margin-top:6px;float:right;background:#fff;border-top:1px solid #fff;text-align:right;}

	* html 	.searchGo {margin-top:-3px;}
	
	
/************************************
	 7. Side Panel Formatting
*************************************/
	/*Firefox & Mozilla */
	html>body .panelHeader {width:190px;line-height:2.2em; height:2.2em; }
	html>body .panelBody {width:184px;min-height:15px;}
	
	/*Generic Side Panel*/
	.writerspanelHeader {line-height:2.3em; height:2.3em;background-color:#463788;color:#fff;width:100%;}

	.panelHeader {line-height:2.2em; height:2.2em;color:#666;width:195px;margin-bottom:5px; padding-left:5px;font-weight:bold;border-top:1px solid #ccc;border-bottom:1px solid #ccc; }
	* html .panelHeader {width:190px;}

	.panelHeader h3{font-weight:bold; font-size:1em;margin:0px;color:#333}
	.panelBody {background-color:#efefef;padding:5px;width:195px;margin-bottom:5px; border:1px solid #CDCAD3}

		/*mods*/
			/*Firefox & Mozilla */
		html>body .panelBody {}
		html>body .panelBody ul {padding-left:20px;margin:0px;} 
		html>body .panelBody li {list-style-image:url(../../images/icons/bullet_grey.gif); margin-bottom:5px;}
		
		* html .panelBody ul { margin:0px 0px 0px 20px;} 
		* html .panelBody li {list-style-image:url(../../images/icons/bullet_grey.gif);margin-bottom:5px;}
		* html .panelBody {width:183px;}	
	

	/*Text Formatting*/
	#panelBody a:hover {text-decoration:underline;color:#Ec8100;}	
	.subNavSelected {text-decoration:none;}
	
	/************************************
	8. News Items
	*************************************/		
	.newsStoryHeading {padding-bottom:10px;}
	.newsStoryHeading a {font-weight:bold;}
	.newsStoryHeading a:hover {font-weight:bold;}
	.newsReadMore {font-size: 0.9em;font-family:Verdana;background-image:url(../../images/icons/news_readMoreArrow.gif);background-repeat: no-repeat;background-position:right bottom;padding-right:8px;width:100%;}
	/*.newsDate {display:none;font-size: 0.8em;padding:0 3px 3px 15px;background-image:url(../../images/icons/bullet_grey.gif);background-repeat: no-repeat;background-position: left;line-height:1em;margin-bottom:10px;}*/
	.newsDate {display:none;}
	.newsPanelBody {padding:5px;}

	/*.newsAbstract { color:#333}*/
	#newsRollout {min-height:195px;width:100%;}	
	* html #newsRollout {height:195px;}
	.newsStory h1{border:none;font-weight:normal;color:#CD3301;font-size:1.5em;background:none}
	.newsHR {height:1px;line-height:1px;margin-top:10px;background-image:url(../../images/misc/dotted_HR.gif); color:#FFFFFF;}
	/*Misc*/
	.featureHeading {font-weight:normal;color:#CD3301;font-size:1.5em;margin-bottom:6px}

	.panelHeading {background-color:#862d43;color:fff}
	.wfPanel {background-color:#efefef;padding:5px;border:1px solid #ccc;}
	.wfPanel a {font-weight:bold}
	
	/*Firefox Mozilla */	
	html>body .featureHeading { font-weight: bold;color:#CD3301;font-size:1.5em;}
	html>body .newsPanelBody {}
	html>body .wfPanel {font-size:0.9em;}

/************************************
	9. Image Gallery 
*************************************/	

	#glryOuter {margin-top:10px;text-align:left}
	#glryOuter img {border:1px solid #000}
	#glryThumb {display:inline;margin:10px 10px 10px 0px;}		
	#glryThumbNL {display:block;margin:5px 10px 10px 0px;}
	#glryTitle {font-weight:bold;}
	#glryDesc {}
	#clear {clear:both;}
	#glryTitleImg {float:left;width:120px;line-height:23px;vertical-align:middle;}
	
	/*Firefox Mozilla */
	html>body #glryTitleImg {margin-bottom:10px}
	
	#glryTitleImg img{border:0px;border:1px solid #000;}	
	#glryImageView {text-align:center}
	#glryImageView img{border:1px solid #000;margin-bottom:10px}
	#glryImageTitle {text-align:center;font-weight:bold;margin-bottom:10px;}
	#glryImageDesc {text-align:left;font-weight:normal;margin-left:10px;}	
	#glryPrev {width:75px}
	#glryPrev img {border:0;margin-right:5px;}
	#glryNext {width:75px;text-align:right}
	#glryNext img {border:0;margin-left:5px;}
	#glryNav	{text-align:center}
	#glryNav a {color:#fff;font-weight:bold;background:#64300a;margin:0px;padding:5px;text-align:center;line-height:26px;}
	
	/*Writers Forum */
	
	#wf_HeaderRow {height:159px;background:#e5e5e5;border-bottom:1px solid #fff}
	#wfLogo {float:left}
	#featureImage {float:right}
	#wf_subHeaderRow {height:38px;background:#c1c1c1;border-bottom:1px solid #fff;margin-bottom:4px}
	#wf_preHeader {line-height:20px;height:20px;background:#efefef;border-bottom:1px solid #fff;text-align:right;padding-right:10px}
	
	.wf_Heading h1 {background-color:#fff;font-size:1.6em;color:#990000;font-weight:bold;margin:0px;padding:0px}
	.wf_Author {font-weight:bold;margin-bottom:10px;font-size:1.3em;}
	.wf_Body {width:380px;line-height:2em}
	.wf_AuthorImage {margin:0 5px 5px 0}
	.AuthorName {font-weight:bold}
	.wf_PDF {float:left}
	/*.wf_HR {background-image:url(/client/templates/shared/dottedHR.gif); background-repeat:repeat-x; background-position:middle;height:3px}*/
	.wf_HR {height:1px;line-height:1px;margin-top:10px;background-image:url(../../images/misc/dotted_HR.gif);}
	.clear {clear:both;}
	.wf_ReadMore {float:right;}
	.wf_panelHeader  {line-height:2.2em; height:2.2em;background-color:#999;color:#fff;width:195px;margin-bottom:5px; padding-left:5px;font-weight:bold}
	* html .wf_panelHeader {width:190px;}
	.wf_panelHeader h3{font-weight:bold; font-size:1em;margin:0px;color:#fff}
	
	.wf_featureAuthor {font-weight:bold;margin-bottom:6px}
	.wf_featureHeading {font-weight:normal;color:#CD3301;font-size:1.5em;margin:6px 0 6px 0}
	.wf_featureAbstract {margin-bottom:6px}
	
	.wf_focusHeading {font-weight:bold;font-size:1.1em}
	.wf_focusAuthor {font-weight:bold;margin-bottom:3px}
	.wf_focusDate {font-size:0.9em; font-style:italic}
	
	#mainContent_wf {margin-bottom:10px;padding-right:5px;}
	* html #mainContent_wf {width:575px;height:340px;float:left;}
	
	/*Firefox & Mozilla  */
	html>body #mainContent_alt { width:575px;float:left; margin-top:2px;}
	#mainContent_wf h1, h2, h3 {background:;}
	#mainContent_wf h1 {color:#006633;font-size:1.8em;font-weight:normal}
	#mainContent_wf h2 {color:#006633;font-size:1.5em;font-weight:bold}
	
	.singleSpace td{line-height:2em}


